@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --bg:#151c2c;
  --bgSoft:#182237;
  --text:white;
  --textSoft:#b7bac1;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg);
  color:var(--text);
}
a{
  color:inherit;
  text-decoration: none;
  
}
@media only screen and (max-width: 768px){
  body{
    width:100% !important;
  }
  .hidden{
    display: none !important;
}
}

.section_row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section_row span {
    margin-right: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.unit_price{
    margin-right: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section{
  background-color: #182237;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.section h3 {
  margin-bottom: 10px;
}

.section span {
  margin-right: 8px;
  background-color:rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 10px;
}

.stats div {
  margin-right: 30px;
  font-size: 17px;
  display: flex;

}

.stats div small {
  margin-left: 15px;

}

.btnDelete {
  padding: 10px;
  background-color: red;
  color:#fff;
  border:none;
  font-weight: bolder;
}

.prodDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
}